body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
}

main {
    padding-top: 1em;
}

.blk {
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: .75em;
    background: white;
}

.blk h2 {
    font-size: 150%;
}

footer {
    font-size: 90%;
    text-align: center;
    margin: 1em 0;
    color: #777;
}

/* histogram */
.histogram-row .bar {
    border: 2px solid #ccc;
    display: inline-block;
    width: 100%;
}

.histogram-row .cbar {
    background: #ccc;
    height: 8px;
}

/* dice & other results */
.die {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: white;
    display: inline-block;
    background: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='50px'> \
      <circle cx='5' cy='5' r='5' style='fill:gray;'/> \
    </svg>") center center no-repeat;
    position: relative;
    margin: 4px;
}

.d4 {
    background: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='50px'> \
      <polygon points='0,9 10,9 5,0' style='fill:gray;'/> \
    </svg>") center center no-repeat !important;
}

.d6 {
    background: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='50px'> \
      <polygon points='1,1 1,9  9,9, 9,1' style='fill:gray;' /> \
    </svg>") center center no-repeat !important;
}

.d8 {
    background: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='50px'> \
      <polygon points='5,0 0,5 5,10 10,5' style='fill:gray;' /> \
    </svg>") center center no-repeat !important;
}

.d10 {
    background: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='50px'> \
      <polygon points='0,7 5,10 10,7 5,0' style='fill:gray;'/> \
    </svg>") center center no-repeat !important;
}

.d12 {
    background: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='50px'> \
      <polygon points='5,0 0,3 2,9 8,9 10,3' style='fill:gray;' /> \
    </svg>") center center no-repeat !important;
}

.d20 {
    background: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='50px'> \
      <polygon points='9,1 3,1 0,6 3,11 9,11 12,6' style='fill:gray;' /> \
    </svg>") center center no-repeat !important;
}

.modifier {
    background: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='50px'> \
      <circle cx='5' cy='5' r='5' style='fill:blue;'/> \
    </svg>") center center no-repeat;
}

.pool {
    display: inline-block;
    border: 2px solid #ddd;
    padding: 4px;
    position: relative;
    margin: 8px;
}

.pool.subpool {
    border-color: #ddf;
    background: #eef;
}

.sum {
    display: inline-block;
    padding: 4px;
    font-weight: bold;
}

.badge {
    position: absolute;
    font-size: 80%;
    display: block;
    line-height: 10px;
    border-radius: 50%;
}

.pool .badge {
    top: -7px;
    left: -7px;
    font-weight: bold;
    color: white;
    background: blue;
}

.die .badge {
    top: -3px;
    left: 30px;
    background: red;
}